
input[type="checkbox"],
input[type="radio"] {
    opacity: 100;
}

@font-face {
    font-family: "Open Sans";
    src:url("../font/OpenSans-Regular.eot?") format("eot"),
        url("../font/OpenSans-Regular.ttf") format("truetype"),
        url("../font/OpenSans-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.loading {
    z-index: 1000;
    cursor: wait;
    text-align: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.loading-page {
    height: 100px;
    width: 100px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
    display: none;
}
